@import url(http://fonts.googleapis.com/css?family=Monoton);

body {  
    background-image: url('ps_neutral.png');
    margin-top: 40px;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
    text-align:center;
  }

  h1{
    text-align: center;
    font-family: Monoton;
    font-size: 28px;
    color: black;
  }

.container {
    margin: 0 auto;
    width: 400px;
}

#gameBoard {
    width: 300px;
    height: 300px;
    border: 1px solid #dadada;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

#gameBoard > li {
    list-style: none;
    float: left;
    overflow: hidden;
    text-decoration:none;
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

#gameBoard > li.X {
    font-size: 40px;
    color: #ed4e6e
}

#gameBoard > li.O {
    font-size: 40px;
    color: #485b6e;
}

#gameBoard > li:hover {
    background: #f9f9f9;
}

#gameBoard > li:active {
    width: 100px;
    height: 100px;
    border: 0;
}

#nfo {
    text-align:center;
    margin-top: 10px;
}

#reset {
    text-align: center;
        border: none;
        padding: 0.6em 1.2em;
        background: #94797f;
        color: black;
        font-size: 1em;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
        margin: 3px 2px;
        border-radius: 2px;
}

#reset:hover {
        background: #2c3e52;
}


#gameStatus > span {
    display: none;
}

/*
#gameStatus.player-one-score > span.player-x-win, 
#gameStatus.player-two-score > span.player-o-win,
#gameStatus.draw > span.draw {
    display: grid;
    margin-top: 10px;
    align-content: end;
}
*/
.box {
  display: flex;
  align-items: stretch;
}

#gameTurn > span,
#gameMessages > span {
    display: none;
}

#gameTurn.x span.x,
#gameTurn.o span.o, 
#gameMessages.player-x-win > span.player-x-win, 
#gameMessages.player-o-win > span.player-o-win,
#gameMessages.draw > span.draw {
    display: block;
    margin-top: 10px;
}