body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
  }
  
  header {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
  }
  
  h1 {
    color: #fff;
    margin: 0;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.25rem;
  }

  
  .square{
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}