@import url(http://fonts.googleapis.com/css?family=Monoton);

body{
    background-image: url('ps_neutral.png');
  }
  header {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
  }

  h1{
    text-align: center;
    font-family: Monoton;
    font-size: 28px;
    color: black;
  }

 .container {
    margin: 0 auto;
    width: 400px;
}
#game {
    width: 300px;
    height: 300px;
    border: 1px solid #dadada;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

#gameBoard > li {
    list-style: none;
    float: left;
    overflow: hidden;
    text-decoration:none;
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    box-sizing: border-box;
}


#gameBoard > li.X {
    font-size: 40px;
    color: #e26c84
}

#gameBoard > li.O {
    font-size: 40px;
    color: #1b3652;
}

#gameBoard > li:hover {
    background: #f9f9f9;
}

#gameBoard > li:active {
    width: 100px;
    height: 100px;
    border: 0;
}

footer{
    display: flexbox;
    text-align: center;
    padding-top: 20px;
}
.reset {
    border: 2px;
    border-radius: 2px;
    padding: 0.6em 1.2em;
    background: #eccbd1;
    color: black;
    font-size: 1em;
    cursor: pointer;   
    margin: 3px 2px;
}

.reset:hover {
    background: #835e86;
}
#gameMessages > span {
    display: none;
}
#gameMessages.player-x-win > span.player-x-win, 
#gameMessages.player-o-win > span.player-o-win,
#gameMessages.draw > span.draw {
    display: block;
    margin-top: 10px;
}
